<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    login
    <button id="login">click</button>
</body>
<script>
    const LoginBtn = document.getElementById("login");
    LoginBtn.onclick = ((e) => {
        fetch('/user/login', {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ token: "fgfgfggfgffgfg" })
        })
        .then((res) => res.json())
        .then((data) => {
            console.log("data", data)
            localStorage.setItem("token",data)
        })
        .catch(err => console.log(err))
    })
</script>

</html>