<div class="header">
    <div class="firstmenu">

        <div class="item" id="item1"><a href="">TRACK ORDER</a></div>
        <div class="item" id="item2"><a href="">CONTACT US</a></div>
        <div class="item" id="item3"><a href="">HELP CENTER</a></div>
    </div>
    <!-- <div class="logo"> 
        <img src="logo.png" alt="Error Loading.....">
      <p>
        WELCOME TO THE WORLD OF SPORTS
      </p>
    
    </div> -->
    <div class="secondmenu">

        <div class="thingelse" id="thing0"><img src="/photos/logo.png" alt="logo"></div>
        <div class="thing" id="thing1"><a href="">HOME</a></div>
        <div class="thing" id="thing2"><a href="">CATEGORIES</a></div>

            <!-- <button class="dropbtn"></button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->



        
        <div class="thing" id="thing3"><a href="">OFFER-ZONE</a></div>
        <div class="thing" id="thing4"><a href="">ABOUT</a></div>
        <div class="thing" id="thing5"><a href="">LOGIN/REGISTER</a></div>

        <div class="thing" id="thing6"> 
            <input type="text" placeholder=" What are you looking for....">
            <Button>SEARCH</Button>
        </div>


        <div class="thingelse" id="thing7">
            <ul type="none">
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.reddit.com/"><i class="fa fa-reddit" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

    <!--<div class="mainbody">
        <!-- <img src="https://source.unsplash.com/random" alt="Error Loading....."> -->

        <!-- <p>WELCOME TO THE WORLD OF SPORTS</p> 
        </div>-->


</div>