<nav class="navbar">
    <ul>
        <li><a href="Cricket.html">Cricket kits</a></li>
        <li><a href="Jerseys.html">Jerseys</a></li>
        <li><a href="Badminton.html">Badminton Rackets</a></li>
        <li><a href="Boxing.html">Boxing Kits</a></li>
        <li><a href="Gym.html">Gym Equipments</a></li>
        <li><a href="Football.html">Football Kits</a></li>
        <li><a href="Swimming.html">Swimming Kits</a></li>
        <li><a href="Indoor Games.html">Indoor Games</a></li>
        <li><a href="shoes.html">Sports shoes</a></li>
        <li><a href="Backpacks.html">Sports Backpacks</a></li>
    </ul>
</nav>