<section class="service">
    
    <div class="box-container">

        <div class="box">
            <i class="fas fa-shipping-fast"></i>
            <h3>fast delivery</h3>
            <p>Faster Delivery to your door step<br> within 5-6 days</p>
        </div>

        <div class="box">
            <i class="fas fa-undo"></i>
            <h3>10 days replacements</h3>
            <p>Replacements &nbsp;| &nbsp; Refund<br>Go to My Orders > Order Details<br>
            Go to Return/Replacements > Select issue</p>
        </div>

        <div class="box">
            <i class="fas fa-headset"></i>
            <h3>24 x 7 support</h3>
            <p>Are you facing any issues? <br> Get quick customer support by selecting your item(s)</p>
        </div>

    </div>

</section>